h1{font-size:100px;color:white;font-family:cursive;font-weight:bold;text-align:center;}
body{background-color:black;}
.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
     align-items: baseline;

}
.flex-item{
    background-color: white;
    width: 300px;
    height: 300px;
    margin: 10px;
    text-align: center;
    line-height: 300px;
    font-size: 30px;
    color: black;
}
#item A{
    background-color: antiquewhite;
}
 #item B{
    background-color: aquamarine;   
 }
 #item C{
    background-color: lightblue;   
 }
 #item D{
    background-color: lightcoral;   
 }
 #item E{
    background-color: lightgreen;   
 }