h1{color:black;font-family:cursive;font:bold;font-size:50px;text-align:center;}
p{font-size:18px;color:#000000;}
body{background-image:url('https://png.pngtree.com/background/20250104/original/pngtree-cartoon-library-interior-with-bookshelves-and-open-book-on-table-picture-image_15776753.jpg');background-size:cover;background-repeat:no-repeat;}